# Default integrations (substitute for default_config) 
config:
frontend:
  themes: !include_dir_merge_named /config/themes/
history:
logbook:
map:
person:
ssdp:
sun:
system_health:
mobile_app:

tts:
  - platform: google_translate

homeassistant:
  customize: !include_dir_merge_named /config/customize/

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.0.0.0/8
    - 192.168.0.0/16

logger:
  default: warning
  filters:
    alexapy.alexalogin:
      - "Domain amazon.nl does not match reported account*"
      - "No access token found; falling back to credential login instead of oauth."
    homeassistant.helpers.template:
      - "Template variable error: 'None' has no attribute 'attributes' when rendering '{{ states.sensor.curl_resp.attributes.message }}'"
      - "Template variable warning: 'mappingproxy object' has no attribute 'message' when rendering '{{ states.sensor.curl_resp.attributes.message }}'"
      - "Template variable warning: 'hour' is undefined when rendering"
      - "Template variable warning: No first item, sequence was empty. when rendering '{{ expand(states.group.echos) | selectattr('attributes.last_called','eq',True) | map(attribute='entity_id') | first }}'"

lovelace:
  mode: yaml
  resources: !include lovelace/resources.yaml
  dashboards: !include lovelace/dashboards.yaml

cloud:
  alexa: !include_dir_merge_named /config/alexa/

influxdb: !include influxdb.yaml
device_tracker: !include device_trackers.yaml
discovery: !include discovery.yaml
recorder: !include recorder.yaml
hacs: !include hacs.yaml
group: !include_dir_merge_named /config/group/
automation: !include_dir_merge_list /config/automations/
script: !include_dir_merge_named /config/scripts/
zone: !include_dir_list /config/zones/
sensor: !include sensors.yaml
scene: !include_dir_merge_list /config/scenes/
input_boolean: !include input_booleans.yaml
counter: !include counters.yaml
input_datetime: !include input_datetimes.yaml
input_number: !include input_numbers.yaml
shell_command: !include_dir_merge_named /config/shell_commands/
light: !include light_group.yaml
alexa_media: !include alexa_media.yaml
input_text: !include input_text.yaml
rest_command: !include rest_command.yaml
ifttt:
  key: !secret ifttt_apikey
nest: !include nest.yaml
